/*======================================
//--//-->   CONTACT
======================================*/
#sectionContact .textHeaderContact {
  text-align: center;
  margin-bottom: 2rem; }
  #sectionContact .textHeaderContact .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #sectionContact .textHeaderContact .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #sectionContact .textHeaderContact p {
    color: black !important; }

#sectionContact .contact-mf #contact {
  position: inherit;
  margin-bottom: 0; }
  #sectionContact .contact-mf #contact .block-info .list-info-contact {
    margin-bottom: 10px; }
  #sectionContact .contact-mf #contact .block-form form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden; }
    #sectionContact .contact-mf #contact .block-form form #sendmessage {
      color: #0070FF;
      border: 1px solid #0078ff;
      display: none;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact .block-form form #errormessage {
      color: #FF0000;
      display: none;
      border: 1px solid red;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact .block-form form #sendmessage.show {
      display: block; }
    #sectionContact .contact-mf #contact .block-form form #errormessage.show {
      display: block; }
    #sectionContact .contact-mf #contact .block-form form .show {
      display: block; }
    #sectionContact .contact-mf #contact .block-form form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group .icon-case-textarea {
          height: auto;
          line-height: 130px; }
        #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group textarea {
          z-index: 0; }
        #sectionContact .contact-mf #contact .block-form form .inputGroupContainer .input-group .validation {
          color: #FF0000;
          display: none;
          margin: 0 0 20px;
          font-size: 13px; }
    #sectionContact .contact-mf #contact .block-form form #btn-contact button {
      padding: .6rem 2.3rem; }
      #sectionContact .contact-mf #contact .block-form form #btn-contact button .icon-send {
        margin-left: 10px; }

@media (min-width: 834px) {
  #sectionContact .contact-mf #contact .block-form {
    right: 50.4%;
    width: 66.66666667%;
    float: left; }
  #sectionContact .contact-mf #contact .block-info {
    width: 33.33333333%;
    left: 50.5%;
    float: left; } }

@media (max-width: 833px) {
  #sectionContact .contact-mf #contact .block-form {
    flex: 0 0 100%;
    max-width: 100%; }
    #sectionContact .contact-mf #contact .block-form .block-form-title {
      padding-top: 3rem; }
  #sectionContact .contact-mf #contact .block-info {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 360px) {
  #sectionContact .contact-mf #contact .block-form {
    flex: 0 0 100%;
    max-width: 100%; }
    #sectionContact .contact-mf #contact .block-form #btn-contact {
      padding: 0;
      text-align: center; } }
