/* CSS CORPS DE PAGE */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #f5f5f5; }
  html body .layout {
    min-height: 100vh;
    flex-direction: column;
    display: flex; }
    html body .layout main {
      padding-top: 9.3rem; }
      html body .layout main section {
        padding: 2rem 0; }

@media (max-width: 834px) {
  html body .layout main {
    padding-top: 6.3rem; } }

/*======================================
//--//-->   STYLES GENERALES
======================================*/
h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e; }

.paralax-mf {
  position: relative;
  padding: 8rem 0; }

/*--/ Sections /--*/
.sect-mt4 {
  margin-top: 4rem; }

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem; }

.title-left {
  font-size: 2rem;
  position: relative; }
  .title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0070FF;
    width: 100px;
    bottom: -12px; }

/*------/ Box /------*/
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

/*------/ Ul resect /------*/
.list-ico {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  .list-ico span {
    color: #0070FF;
    margin-right: 10px; }

/*======================================
//--//-->   BUTTON
======================================*/
.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer; }
  .button:focus {
    outline: 0; }
  .button:hover {
    background-color: #0062d3;
    color: #fff;
    transition: all 500ms ease;
    box-shadow: 0 0 0 4px #cde1f8; }

.button-a {
  background-color: #0070FF;
  color: #fff;
  border-color: #CDE1F5; }

.button-big {
  padding: .9rem 2.3rem;
  font-size: 1.2rem; }

.button-rouded {
  border-radius: 5rem; }

header {
  background-color: #353c52 !important;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1; }
  header .navigation {
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center; }
    header .navigation .navContainer {
      width: 100%;
      height: 100%;
      display: flex; }
      header .navigation .navContainer .linkTitle {
        color: white;
        width: 100%;
        max-width: 435px;
        margin: 0 auto;
        height: 80px; }
        header .navigation .navContainer .linkTitle .iconBook {
          width: auto;
          height: 100%;
          display: inline-flex;
          justify-content: inherit;
          align-items: center;
          align-content: inherit; }
          header .navigation .navContainer .linkTitle .iconBook .icon {
            display: block;
            max-width: 100%;
            height: 70px;
            width: auto; }
        header .navigation .navContainer .linkTitle .titleContainer {
          float: right;
          justify-content: center;
          display: grid;
          height: 100%;
          margin-left: 15px;
          width: auto; }
          header .navigation .navContainer .linkTitle .titleContainer .title {
            font-size: 1.75rem;
            font-family: 'Courgette', cursive;
            font-style: italic;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700; }
          header .navigation .navContainer .linkTitle .titleContainer .description {
            font-size: 0.9rem;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700;
            font-family: 'Courgette', cursive;
            font-style: italic; }

@media (max-width: 834px) {
  header {
    height: 100px; }
    header .navigation .navContainer .linkTitle {
      max-width: 400px;
      height: 70px;
      margin: 0; }
      header .navigation .navContainer .linkTitle .iconBook .icon {
        height: 50px; }
      header .navigation .navContainer .linkTitle .titleContainer .title {
        font-size: 1.75rem; }
      header .navigation .navContainer .linkTitle .titleContainer .description {
        font-size: 0.9rem; } }

@media (max-width: 500px) {
  header .navigation .navContainer .linkTitle {
    width: auto; }
    header .navigation .navContainer .linkTitle .iconBook {
      display: none; }
    header .navigation .navContainer .linkTitle .titleContainer {
      margin-left: 0; } }

@media (max-width: 380px) {
  header .navigation .navContainer .linkTitle .titleContainer .title {
    font-size: 1.3rem; }
  header .navigation .navContainer .linkTitle .titleContainer .description {
    font-size: 0.65rem; } }

header .navigation .navContainer .navbarLeft {
  display: flex;
  width: auto;
  height: 30px;
  position: absolute;
  left: 0;
  top: 100px;
  line-height: 15px; }
  header .navigation .navContainer .navbarLeft .navbarLeftNavigation {
    display: flex;
    padding-left: 15px;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    header .navigation .navContainer .navbarLeft .navbarLeftNavigation a {
      color: white; }

@media (max-width: 834px) {
  header .navigation .navContainer .navbarLeft {
    display: none; } }

header .navigation .navContainer .navbarRight {
  display: flex;
  width: auto;
  height: 30px;
  position: absolute;
  right: 0;
  top: 100px;
  line-height: 15px; }
  header .navigation .navContainer .navbarRight .navbarRightNavigation {
    display: flex;
    padding-right: 15px;
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    header .navigation .navContainer .navbarRight .navbarRightNavigation a {
      color: white;
      padding: 0.5rem 1rem; }

@media (max-width: 834px) {
  header .navigation .navContainer .navbarRight {
    display: none; } }

header .navigation .navContainer .btnSidebarOpen {
  display: none; }

header .navigation .navContainer .sidebar {
  display: none; }

@media (max-width: 834px) {
  header .navigation .navContainer .btnSidebarOpen {
    display: inline-grid;
    align-items: center;
    position: absolute;
    right: 15px;
    height: 70px; }
    header .navigation .navContainer .btnSidebarOpen button {
      font-size: 1.75rem;
      background-color: transparent !important; }
  header .navigation .navContainer .overlay.active {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    opacity: 1;
    background: -webkit-linear-gradient(top, rgba(108, 118, 148, 0.98), rgba(53, 60, 82, 0.98));
    z-index: 2;
    transition: opacity .5s;
    cursor: pointer; }
  header .navigation .navContainer .sidebar {
    display: block; }
    header .navigation .navContainer .sidebar .sidebarOpen {
      width: 400px;
      height: 100%;
      top: 0;
      right: 0;
      position: fixed;
      z-index: 2;
      transition: right .3s; }
      header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu {
        width: auto;
        height: 100%;
        background-color: white;
        z-index: 1; }
        header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .menuBurgerClose {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          padding: 0;
          background: none;
          border: none;
          color: #c8cbd3; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .menuBurgerClose i {
            font-size: 24px; }
        header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer {
          width: 100%;
          height: 100%; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer {
            padding: 40px 20px;
            height: 217px;
            background-color: #353c52; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected {
              width: auto;
              height: 150px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo {
                padding: 10px 0px;
                display: flex; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarUserCardImg {
                  position: absolute;
                  width: 50px;
                  height: 50px; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarUserCardImg img {
                    border-radius: 50%;
                    width: 100%; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser {
                  width: 100%;
                  height: auto;
                  padding: 0;
                  list-style: none;
                  margin-left: 50px; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser {
                    left: 10px;
                    position: relative;
                    text-transform: none; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser .username {
                      font-size: 18px;
                      color: #c8cbd3; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser .address {
                      font-size: 13px;
                      color: #5c6f84; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer {
                display: flex;
                margin-bottom: 1rem; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .separator {
                  border: 1px solid lightgrey; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnProfile, header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnSettings {
                  width: 50%;
                  background: none;
                  border: none;
                  color: #c8cbd3;
                  cursor: pointer; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnProfile:hover, header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnSettings:hover {
                    color: #f4f6fa; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer {
                width: 100%;
                position: absolute;
                left: 0;
                background-color: #5c6f84;
                height: 50px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer:hover {
                  background-color: #555D70; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer .btnLogOut {
                  border: none;
                  background: none;
                  color: white;
                  cursor: pointer; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer {
            background-color: #353c52; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .sidebarNotConnected {
              padding: 60px 20px 20px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .sidebarNotConnected .inputGroupContainer {
                text-transform: none !important;
                color: white; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer {
              background-color: #5c6f84;
              height: 50px;
              display: flex;
              justify-content: center; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer:hover {
                background-color: #555D70; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer .btnLogin {
                border: none;
                background: none;
                color: white;
                cursor: pointer; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer {
              height: 50px;
              display: flex;
              justify-content: center;
              font-size: 13px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer a {
                color: #c8cbd3;
                text-align: center;
                text-transform: none !important;
                margin: auto 0;
                cursor: pointer; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer a:hover {
                  color: white; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent {
            height: 100%; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer {
              margin-top: 20px;
              height: 100%;
              padding: 10px 20px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu {
                width: 100%;
                height: auto; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu button {
                  justify-content: left;
                  width: 100%;
                  height: auto;
                  font-size: 18px;
                  border-radius: 0px;
                  background: none;
                  border: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: #353c52;
                  cursor: pointer; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu {
                width: 100%;
                height: 100%;
                padding: 10px 15px 10px 33px;
                display: none; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu.active {
                  display: block; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu .menuItem {
                  justify-content: inherit;
                  align-items: center;
                  align-content: center;
                  height: 35px;
                  width: 100%;
                  display: inline-flex; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu .menuItem .menuLink {
                    display: flex;
                    text-decoration: none;
                    color: #5c6f84; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu .menuItem .menuLink:hover {
                      color: #353c52; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .sidebarDropdownMenu .menuItem .menuLink .name {
                      font-size: 16px;
                      line-height: 1.23;
                      margin-left: 15px;
                      text-transform: none !important; } }

@media (max-width: 414px) {
  header .navigation .navContainer .sidebar .sidebarOpen {
    width: 100%; } }

main #home {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-image: url("../../images/alaska.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 79.4vh;
  background-attachment: fixed;
  color: #fff;
  width: 100%; }
  main #home .container {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center; }

main #homeChapters .textHeaderHomeChapters {
  text-align: center;
  margin-bottom: 2rem; }
  main #homeChapters .textHeaderHomeChapters .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  main #homeChapters .textHeaderHomeChapters .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  main #homeChapters .textHeaderHomeChapters p {
    color: black !important; }

main #homeChapters article {
  margin-bottom: 5rem;
  text-align: justify;
  display: inline-flex;
  max-width: 49%;
  min-height: 660px; }
  main #homeChapters article .card {
    transition: .3s; }
    main #homeChapters article .card:hover {
      box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.12); }
    main #homeChapters article .card .headerChapter {
      padding: 10px 15px;
      text-align: center; }
      main #homeChapters article .card .headerChapter h2 {
        color: #007bff; }
        main #homeChapters article .card .headerChapter h2:focus, main #homeChapters article .card .headerChapter h2:hover {
          color: #2B96CC;
          text-decoration: none; }
    main #homeChapters article .card .blog-thumb img {
      width: 100%; }
    main #homeChapters article .card .card-block {
      padding: 10px 15px;
      text-align: justify;
      flex: 1; }
      main #homeChapters article .card .card-block .meta-info {
        margin-bottom: 1.5rem; }
      main #homeChapters article .card .card-block .blog-content.home-blog p {
        margin-bottom: 10px; }
    main #homeChapters article .card .card-footer {
      text-align: center; }
      main #homeChapters article .card .card-footer .link-box.home-blog-link a {
        font-size: 14px; }
      main #homeChapters article .card .card-footer .link-box a {
        color: white;
        font-weight: 600; }

main #homeChapters aside .card-header {
  text-align: center;
  color: #007bff; }
  main #homeChapters aside .card-header:hover {
    color: #2B96CC;
    transition: 0.4s; }

main #homeChapters aside .list-group {
  padding: 0.75rem 1.25rem; }
  main #homeChapters aside .list-group .list-group-about-container {
    text-align: justify;
    margin-bottom: 1rem; }
  main #homeChapters aside .list-group .list-group-container {
    text-align: justify;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ddd; }
    main #homeChapters aside .list-group .list-group-container a {
      color: black; }
      main #homeChapters aside .list-group .list-group-container a:hover {
        text-decoration: none; }
      main #homeChapters aside .list-group .list-group-container a .list-group-item-heading {
        text-align: center; }
        main #homeChapters aside .list-group .list-group-container a .list-group-item-heading:hover {
          color: #2B96CC;
          transition: 0.4s; }

@media (max-width: 990px) {
  main #homeChapters article {
    max-width: 100%; } }

@media (max-width: 834px) {
  main #home {
    max-height: 615px; } }

.about_me {
  background-image: url("../../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  .about_me .aboutContainer .section-title {
    margin-bottom: 15px; }
  .about_me .aboutContainer .section-subheading {
    margin-bottom: 3.5rem; }
  .about_me .aboutContainer .row {
    text-align: justify; }

#allChapters .textHeaderChapters {
  text-align: center;
  margin-bottom: 2rem; }
  #allChapters .textHeaderChapters .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #allChapters .textHeaderChapters .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #allChapters .textHeaderChapters p {
    color: black !important; }

#allChapters article {
  margin-bottom: 5rem;
  text-align: justify; }
  #allChapters article .blog-wrapper {
    background: #fff;
    overflow: hidden;
    padding: 20px; }
    #allChapters article .blog-wrapper h2 {
      color: #007bff; }
      #allChapters article .blog-wrapper h2:focus, #allChapters article .blog-wrapper h2:hover {
        color: #2B96CC;
        text-decoration: none; }
    #allChapters article .blog-wrapper .blog-thumb {
      margin-bottom: 20px; }
      #allChapters article .blog-wrapper .blog-thumb img {
        width: 100%; }
    #allChapters article .blog-wrapper .blog-content.home-blog p {
      margin-bottom: 10px; }
    #allChapters article .blog-wrapper .link-box.home-blog-link a {
      font-size: 14px; }
    #allChapters article .blog-wrapper .link-box a {
      color: white;
      font-weight: 600; }
  #allChapters article .home-blog-wrapper {
    transition: .3s; }
  #allChapters article .blog-wrapper.home-blog-wrapper:hover {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.12); }

#allChapters aside .card-header {
  text-align: center;
  color: #007bff; }
  #allChapters aside .card-header:hover {
    color: #2B96CC;
    transition: 0.4s; }

#allChapters aside .list-group {
  padding: 0.75rem 1.25rem; }
  #allChapters aside .list-group .list-group-about-container {
    text-align: justify;
    margin-bottom: 1rem; }
  #allChapters aside .list-group .list-group-container {
    text-align: justify;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ddd; }
    #allChapters aside .list-group .list-group-container a {
      color: black; }
      #allChapters aside .list-group .list-group-container a:hover {
        text-decoration: none; }
      #allChapters aside .list-group .list-group-container a .list-group-item-heading {
        text-align: center; }
        #allChapters aside .list-group .list-group-container a .list-group-item-heading:hover {
          color: #2B96CC;
          transition: 0.4s; }

#showChapters .textHeaderShowChapters {
  text-align: center;
  margin-bottom: 2rem; }
  #showChapters .textHeaderShowChapters .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }

#showChapters article {
  text-align: justify; }
  #showChapters article .card {
    transition: .3s;
    background-color: transparent; }
    #showChapters article .card:hover {
      box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.12); }
    #showChapters article .card .blog-thumb {
      padding: 15px;
      background-color: white;
      border-radius: 0.25rem 0.25rem 0 0; }
      #showChapters article .card .blog-thumb a:hover {
        text-decoration: none; }
      #showChapters article .card .blog-thumb a img {
        width: 100%; }
      #showChapters article .card .blog-thumb a .meta-info {
        position: relative;
        height: 35px;
        margin: -35px 0 0 0;
        background: rgba(0, 0, 0, 0.8);
        color: #ccc;
        line-height: 35px;
        padding: 0 15px; }
    #showChapters article .card .card-block {
      text-align: justify;
      margin-top: 1rem; }
      #showChapters article .card .card-block .card-block-container {
        background-color: white;
        border-radius: 0 0 0.25rem 0.25rem; }
        #showChapters article .card .card-block .card-block-container .card-header {
          padding: 7px 1.25rem;
          background-color: rgba(0, 0, 0, 0.03);
          border-bottom: 1px solidrgba(0, 0, 0, 0.125);
          border-left: 5px solid #007bff; }
          #showChapters article .card .card-block .card-block-container .card-header a:hover {
            color: #2B96CC;
            transition: 0.4s;
            text-decoration: none; }
      #showChapters article .card .card-block .blog-content.home-blog p {
        padding: 0 1.5rem 1rem 1.5rem; }

#showChapters aside .card-header {
  text-align: center;
  color: #007bff; }
  #showChapters aside .card-header:hover {
    color: #2B96CC;
    transition: 0.4s; }

#showChapters aside .list-group {
  padding: 0.75rem 1.25rem; }
  #showChapters aside .list-group .list-group-about-container {
    text-align: justify;
    margin-bottom: 1rem; }
  #showChapters aside .list-group .list-group-container {
    text-align: justify;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ddd; }
    #showChapters aside .list-group .list-group-container a {
      color: black; }
      #showChapters aside .list-group .list-group-container a:hover {
        text-decoration: none; }
      #showChapters aside .list-group .list-group-container a .list-group-item-heading {
        text-align: center; }
        #showChapters aside .list-group .list-group-container a .list-group-item-heading:hover {
          color: #2B96CC;
          transition: 0.4s; }

@media (max-width: 480px) {
  #showChapters article .card .blog-thumb a .meta-info {
    height: 65px;
    margin: -65px 0 0 0; } }

#commentChapter .card-block h3 {
  color: black; }

#commentChapter .card-block .card-block-container .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px; }

#commentChapter .card-block .card-block-container .panel-white {
  border: 1px solid #dddddd; }

#commentChapter .card-block .card-block-container .post .post-heading {
  height: 95px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #commentChapter .card-block .card-block-container .post .post-heading .pull-left {
    height: 55px; }
    #commentChapter .card-block .card-block-container .post .post-heading .pull-left .comment-author {
      margin-bottom: 4px; }
      #commentChapter .card-block .card-block-container .post .post-heading .pull-left .comment-author .avatar {
        width: 55px;
        height: 55px;
        display: block;
        margin-right: 15px;
        float: left; }
  #commentChapter .card-block .card-block-container .post .post-heading .meta .title {
    margin-bottom: 0; }
  #commentChapter .card-block .card-block-container .post .post-heading .meta .title a {
    color: black; }
    #commentChapter .card-block .card-block-container .post .post-heading .meta .title a:hover {
      color: gainsboro; }
  #commentChapter .card-block .card-block-container .post .post-heading .meta .time {
    margin-top: 8px;
    color: #999; }
  #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions {
    font-size: 18px;
    width: 18px;
    text-align: center;
    cursor: pointer; }
    #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions .dropdownListOptions {
      display: none; }
    #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions.active .dropdownListOptions.active {
      position: absolute;
      display: flex;
      flex-direction: column;
      min-width: 85px;
      padding: 0;
      border-radius: 3px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
      background-color: #f0f0f0;
      right: 35px;
      max-width: 150px;
      width: 100%;
      list-style: none; }
      #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions.active .dropdownListOptions.active .dropdownItemOptions {
        padding: 0 10px;
        display: flex;
        justify-content: flex-start; }
        #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions.active .dropdownListOptions.active .dropdownItemOptions:hover {
          background-color: #dfdfdf; }
        #commentChapter .card-block .card-block-container .post .post-heading .dropdownOptions.active .dropdownListOptions.active .dropdownItemOptions a span {
          margin-left: 10px; }

#commentChapter .card-block .card-block-container .post .post-description {
  padding: 15px; }
  #commentChapter .card-block .card-block-container .post .post-description p {
    font-size: 14px; }
  #commentChapter .card-block .card-block-container .post .post-description .stats {
    margin-top: 20px; }
    #commentChapter .card-block .card-block-container .post .post-description .stats .stat-item {
      display: inline-block;
      margin-right: 15px; }
    #commentChapter .card-block .card-block-container .post .post-description .stats a {
      text-decoration: none; }
      #commentChapter .card-block .card-block-container .post .post-description .stats a .icon {
        margin-right: 8px; }
    #commentChapter .card-block .card-block-container .post .post-description .stats .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc; }
      #commentChapter .card-block .card-block-container .post .post-description .stats .btn-default:hover {
        background-color: gainsboro; }

#addComments {
  padding: 1.25rem 0; }
  #addComments #comment_add h3 {
    color: black; }
  #addComments #comment_add .card-block-container textarea {
    height: 150px; }
  #addComments #comment_add .card-block-container #btnAddComment {
    padding: 0; }

/*======================================
//--//-->   CONTACT
======================================*/
#sectionContact .textHeaderContact {
  text-align: center;
  margin-bottom: 2rem; }
  #sectionContact .textHeaderContact .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #sectionContact .textHeaderContact .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #sectionContact .textHeaderContact p {
    color: black !important; }

#sectionContact .contact-mf #contact {
  position: inherit;
  margin-bottom: 3rem; }
  #sectionContact .contact-mf #contact form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden; }
    #sectionContact .contact-mf #contact form #sendmessage {
      color: #0070FF;
      border: 1px solid #0078ff;
      display: none;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact form #errormessage {
      color: #FF0000;
      display: none;
      border: 1px solid red;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact form #sendmessage.show {
      display: block; }
    #sectionContact .contact-mf #contact form #errormessage.show {
      display: block; }
    #sectionContact .contact-mf #contact form .show {
      display: block; }
    #sectionContact .contact-mf #contact form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #sectionContact .contact-mf #contact form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .icon-case-textarea {
          height: auto;
          line-height: 130px; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group textarea {
          z-index: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .validation {
          color: #FF0000;
          display: none;
          margin: 0 0 20px;
          font-size: 13px; }
    #sectionContact .contact-mf #contact form #btn-contact button {
      padding: .6rem 2.3rem; }
      #sectionContact .contact-mf #contact form #btn-contact button .icon-send {
        margin-left: 10px; }

#register .textHeaderRegister {
  text-align: center;
  margin-bottom: 2rem; }
  #register .textHeaderRegister .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #register .textHeaderRegister .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #register .textHeaderRegister .section-subheading {
    color: black !important; }

#register #infobox-register {
  z-index: 0;
  max-width: 75%;
  margin: 0 auto; }
  #register #infobox-register .infoRegisterContainer {
    border: 1px solid #0000004f;
    margin: 0 15px 1rem 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #register #infobox-register form {
    border-radius: 5px;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden; }
    #register #infobox-register form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #register #infobox-register form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #register #infobox-register form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .label-register {
          font-size: 1.25rem;
          width: 100%; }
    #register #infobox-register form #btn-register button {
      padding: .6rem 2.3rem; }

#forget .textHeaderForget {
  text-align: center;
  margin-bottom: 2rem; }
  #forget .textHeaderForget .section-title {
    color: black;
    margin-bottom: 15px; }
  #forget .textHeaderForget .section-subheading {
    color: black !important; }

#forget #infobox-forget {
  z-index: 0; }
  #forget #infobox-forget .infoForgetContainer {
    margin: 0 15px 1rem 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #forget #infobox-forget form {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background-color: #FFFFFF;
    overflow: hidden; }
    #forget #infobox-forget form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #forget #infobox-forget form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #forget #infobox-forget form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #forget #infobox-forget form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #forget #infobox-forget form .inputGroupContainer .input-group .label-register {
          font-size: 1.25rem;
          width: 20%;
          height: 42px;
          line-height: 40px;
          padding-left: 15px; }
    #forget #infobox-forget form #btn-forget {
      padding-right: 0; }

@media (max-width: 990px) {
  #forget #infobox-forget form .inputGroupContainer .input-group .label-register {
    width: 100%;
    padding-left: 0; }
  #forget #infobox-forget form #btn-forget {
    text-align: center !important;
    padding-left: 0; } }

#login .textHeaderLogin {
  text-align: center;
  margin-bottom: 2rem; }
  #login .textHeaderLogin .section-title {
    color: black;
    margin-bottom: 15px; }
  #login .textHeaderLogin .section-subheading {
    color: black !important; }

#login #infobox-login {
  z-index: 0;
  max-width: 75%;
  margin: 0 auto; }
  #login #infobox-login .boxContainer {
    padding: 1.25rem 1.25rem 3rem 1.25rem; }
    #login #infobox-login .boxContainer .infoForgetContainer {
      width: 100%;
      text-align: center; }
      #login #infobox-login .boxContainer .infoForgetContainer .iconContainer {
        width: 100%;
        font-size: 150px; }
        #login #infobox-login .boxContainer .infoForgetContainer .iconContainer span i {
          color: #007bff; }
      #login #infobox-login .boxContainer .infoForgetContainer .description p {
        font-size: 2.25rem; }
  #login #infobox-login form {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
    background-color: #FFFFFF;
    overflow: hidden; }
    #login #infobox-login form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #login #infobox-login form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #login #infobox-login form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #login #infobox-login form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #login #infobox-login form .inputGroupContainer .input-group .label-login {
          font-size: 1.25rem;
          width: 100%;
          height: 42px;
          align-content: center;
          display: flex;
          line-height: 37px;
          margin-top: 1rem; }
          #login #infobox-login form .inputGroupContainer .input-group .label-login input {
            margin-right: 10px; }
    #login #infobox-login form #btn-login {
      padding-right: 0;
      padding-left: 0; }
      #login #infobox-login form #btn-login button {
        padding: .6rem 2.3rem; }

footer {
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem 0 !important; }
  footer .containerSection #footer {
    line-height: 50px;
    height: 50px; }
    footer .containerSection #footer .socialContainer {
      margin-top: 0 !important;
      height: 100%; }
      footer .containerSection #footer .socialContainer .social li {
        padding: 3px 0; }
        footer .containerSection #footer .socialContainer .social li:hover a i {
          font-size: 30px;
          margin-top: -10px; }
        footer .containerSection #footer .socialContainer .social li a {
          color: black;
          text-decoration: none !important;
          background-color: transparent;
          -webkit-text-decoration-skip: objects; }
          footer .containerSection #footer .socialContainer .social li a:hover {
            color: black; }
          footer .containerSection #footer .socialContainer .social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: 0.5s all ease;
            -moz-transition: 0.5s all ease;
            transition: 0.5s all ease; }
            footer .containerSection #footer .socialContainer .social li a i .d-md-inline-flex {
              margin-left: 10px; }
  footer .containerSection .separator {
    border: 1px solid lightgray;
    margin: 24px auto;
    opacity: 0.3;
    width: 30%;
    min-width: 150px; }
  footer .containerSection #copyright {
    color: black;
    padding: 0 15px; }
    footer .containerSection #copyright .copyrightContainer {
      width: 100%;
      display: flex;
      justify-content: center; }
