/* CSS CORPS DE PAGE */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #161F26; }
  html body .layout {
    min-height: 100vh;
    flex-direction: column;
    display: flex; }
    html body .layout main {
      padding-top: 9.3rem; }
      html body .layout main section {
        padding: 2rem 0; }

@media (max-width: 834px) {
  html body .layout main {
    padding-top: 6.3rem; } }

/*======================================
//--//-->   STYLES GENERALES
======================================*/
h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e; }

.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 8rem 0; }

/*--/ Sections /--*/
.sect-mt4 {
  margin-top: 4rem; }

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem; }

.title-left {
  font-size: 2rem;
  position: relative; }
  .title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0070FF;
    width: 100px;
    bottom: -12px; }

/*------/ Box /------*/
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

/*------/ Ul resect /------*/
.list-ico {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  .list-ico span {
    color: #0070FF;
    margin-right: 10px; }

/*======================================
//--//-->   BUTTON
======================================*/
.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer; }
  .button:focus {
    outline: 0; }
  .button:hover {
    background-color: #0062d3;
    color: #fff;
    transition: all 500ms ease;
    box-shadow: 0 0 0 4px #cde1f8; }

.button-a {
  background-color: #0070FF;
  color: #fff;
  border-color: #CDE1F5; }

.button-big {
  padding: .9rem 2.3rem;
  font-size: 1.2rem; }

.button-rouded {
  border-radius: 5rem; }

header {
  background-color: #161F26 !important;
  border-bottom: 2px solid #EF951B;
  border-top: 2px solid #EF951B;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1; }
  header .navigation {
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center; }
    header .navigation .navContainer {
      width: 100%;
      height: 100%;
      display: flex; }
      header .navigation .navContainer .linkTitle {
        color: white;
        width: 100%;
        max-width: 435px;
        margin: 0 auto;
        height: 80px; }
        header .navigation .navContainer .linkTitle .iconBook {
          width: auto;
          height: 100%;
          display: inline-flex;
          justify-content: inherit;
          align-items: center;
          align-content: inherit; }
          header .navigation .navContainer .linkTitle .iconBook .icon {
            display: block;
            max-width: 100%;
            height: 70px;
            width: auto; }
        header .navigation .navContainer .linkTitle .titleContainer {
          float: right;
          justify-content: center;
          display: grid;
          height: 100%;
          margin-left: 15px;
          width: auto; }
          header .navigation .navContainer .linkTitle .titleContainer .title {
            font-size: 1.75rem;
            font-family: 'Courgette', cursive;
            font-style: italic;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700; }
          header .navigation .navContainer .linkTitle .titleContainer .description {
            font-size: 0.9rem;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700;
            font-family: 'Courgette', cursive;
            font-style: italic; }

@media (max-width: 834px) {
  header {
    height: 100px; }
    header .navigation .navContainer .linkTitle {
      max-width: 400px;
      height: 70px;
      margin: 0; }
      header .navigation .navContainer .linkTitle .iconBook .icon {
        height: 50px; }
      header .navigation .navContainer .linkTitle .titleContainer .title {
        font-size: 1.75rem; }
      header .navigation .navContainer .linkTitle .titleContainer .description {
        font-size: 0.9rem; } }

@media (max-width: 500px) {
  header .navigation .navContainer .linkTitle {
    width: auto; }
    header .navigation .navContainer .linkTitle .iconBook {
      display: none; }
    header .navigation .navContainer .linkTitle .titleContainer {
      margin-left: 0; } }

@media (max-width: 380px) {
  header .navigation .navContainer .linkTitle .titleContainer .title {
    font-size: 1.3rem; }
  header .navigation .navContainer .linkTitle .titleContainer .description {
    font-size: 0.65rem; } }

header .navigation .navContainer .navbarLeft {
  display: flex;
  width: auto;
  height: 30px;
  position: absolute;
  left: 0;
  top: 100px;
  line-height: 15px; }
  header .navigation .navContainer .navbarLeft .navbarLeftNavigation {
    display: flex;
    padding-left: 15px;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    header .navigation .navContainer .navbarLeft .navbarLeftNavigation a {
      color: white; }

@media (max-width: 834px) {
  header .navigation .navContainer .navbarLeft {
    display: none; } }

header .navigation .navContainer .navbarRight {
  display: flex;
  width: auto;
  height: 30px;
  position: absolute;
  right: 0;
  top: 100px;
  line-height: 15px; }
  header .navigation .navContainer .navbarRight .navbarRightNavigation {
    display: flex;
    padding-right: 15px;
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    header .navigation .navContainer .navbarRight .navbarRightNavigation a {
      color: white;
      padding: 0.5rem 1rem; }

@media (max-width: 834px) {
  header .navigation .navContainer .navbarRight {
    display: none; } }

header .navigation .navContainer .sidebarContainer {
  display: none; }

@media (max-width: 834px) {
  header .navigation .navContainer .sidebarContainer {
    display: inline-grid;
    align-items: center;
    position: absolute;
    right: 15px;
    height: 70px; }
    header .navigation .navContainer .sidebarContainer button {
      font-size: 1.75rem;
      background-color: transparent !important; } }

main #home {
  border-bottom: 2px solid #EF951B;
  background-image: url("../../images/alaska.jpg");
  background-position: center;
  background-size: cover;
  padding-top: calc(21rem + 40px);
  padding-bottom: calc(21rem + 40px); }
  main #home .container {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center; }

main .homeChapters .chaptersContainer .section-title {
  margin-bottom: 15px;
  color: white; }

main .homeChapters .chaptersContainer .section-subheading {
  text-align: center;
  color: white !important;
  margin-bottom: 3.5rem; }

main .homeChapters .chaptersContainer .row {
  margin-right: 0;
  margin-left: 0; }
  main .homeChapters .chaptersContainer .row .col-md-6 {
    padding: 15px; }
    main .homeChapters .chaptersContainer .row .col-md-6 .card {
      background-color: #161F26;
      height: 100%;
      border-radius: 0; }
      main .homeChapters .chaptersContainer .row .col-md-6 .card .card-body {
        text-align: justify;
        color: white; }
        main .homeChapters .chaptersContainer .row .col-md-6 .card .card-body .card-title {
          text-align: center; }
        main .homeChapters .chaptersContainer .row .col-md-6 .card .card-body .text-center {
          color: #6c757d; }
        main .homeChapters .chaptersContainer .row .col-md-6 .card .card-body .btn-primary {
          margin: 0 auto;
          width: 90px;
          display: flex; }

.about_me {
  background-image: url("../../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  .about_me .aboutContainer .section-title {
    margin-bottom: 15px; }
  .about_me .aboutContainer .section-subheading {
    margin-bottom: 3.5rem; }
  .about_me .aboutContainer .row {
    text-align: justify; }

.homeChapters {
  min-height: calc(35rem + 20px); }
  .homeChapters .chaptersContainer .section-title {
    margin-bottom: 15px;
    color: white; }
  .homeChapters .chaptersContainer .section-subheading {
    text-align: center;
    color: white !important;
    margin-bottom: 3.5rem; }
  .homeChapters .chaptersContainer .card {
    background-color: #161F26;
    height: 100%;
    border-radius: 0; }
    .homeChapters .chaptersContainer .card .card-body {
      text-align: center;
      color: white; }
  .homeChapters .chaptersContainer #btn-getAllChapters {
    margin: 0 auto; }

.allChapters .chaptersContainer .section-title {
  margin-bottom: 15px;
  color: white; }

.allChapters .chaptersContainer .section-subheading {
  text-align: center;
  color: white !important;
  margin-bottom: 3.5rem; }

.allChapters .chaptersContainer .row {
  margin-left: 0;
  margin-right: 0; }
  .allChapters .chaptersContainer .row .col-md-6 {
    padding: 15px; }
    .allChapters .chaptersContainer .row .col-md-6 .card {
      background-color: #161F26;
      height: 100%;
      border-radius: 0; }
      .allChapters .chaptersContainer .row .col-md-6 .card .card-body {
        text-align: justify;
        color: white; }
        .allChapters .chaptersContainer .row .col-md-6 .card .card-body .card-title {
          text-align: center; }
        .allChapters .chaptersContainer .row .col-md-6 .card .card-body .btn-primary {
          margin: 0 auto;
          width: 90px;
          display: flex; }

.allChapters .chaptersContainer #btn-addChapters {
  margin: 0 auto; }

.showChapters .container .card {
  background-color: #fff;
  height: 100%;
  border-radius: 0; }
  .showChapters .container .card .card-body {
    text-align: justify;
    color: black; }
    .showChapters .container .card .card-body .card-title {
      text-align: center; }
    .showChapters .container .card .card-body .text-center {
      color: #6c757d; }

.showChapters .container #btn-addChapters {
  margin: 0 auto; }

.addChapters .container {
  color: white; }
  .addChapters .container .section-title {
    margin-bottom: 3.5rem; }

.updateChapters .container {
  color: white; }
  .updateChapters .container .section-title {
    margin-bottom: 3.5rem; }

.commentChapter .container h2 {
  margin-bottom: 1.5rem;
  color: white;
  text-align: center; }

.commentChapter .container .row .col-md-12 .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.commentChapter .container .row .col-md-12 .panel-shadow {
  box-shadow: rgba(255, 255, 255, 0.3) 7px 7px 7px; }

.commentChapter .container .row .col-md-12 .panel-white {
  border: 1px solid #dddddd; }
  .commentChapter .container .row .col-md-12 .panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd; }

.commentChapter .container .row .col-md-12 .post .post-heading {
  height: 95px;
  padding: 20px 15px; }
  .commentChapter .container .row .col-md-12 .post .post-heading .pull-left {
    float: left; }
    .commentChapter .container .row .col-md-12 .post .post-heading .pull-left .avatar {
      width: 60px;
      height: 60px;
      display: block;
      margin-right: 15px; }
  .commentChapter .container .row .col-md-12 .post .post-heading .meta .title {
    margin-bottom: 0; }
  .commentChapter .container .row .col-md-12 .post .post-heading .meta .title a {
    color: black; }
    .commentChapter .container .row .col-md-12 .post .post-heading .meta .title a:hover {
      color: gainsboro; }
  .commentChapter .container .row .col-md-12 .post .post-heading .meta .time {
    margin-top: 8px;
    color: #999; }

.commentChapter .container .row .col-md-12 .post .post-description {
  padding: 15px; }
  .commentChapter .container .row .col-md-12 .post .post-description p {
    font-size: 14px; }
  .commentChapter .container .row .col-md-12 .post .post-description .stats {
    margin-top: 20px; }
    .commentChapter .container .row .col-md-12 .post .post-description .stats .stat-item {
      display: inline-block;
      margin-right: 15px; }
    .commentChapter .container .row .col-md-12 .post .post-description .stats a {
      text-decoration: none; }
      .commentChapter .container .row .col-md-12 .post .post-description .stats a .icon {
        margin-right: 8px; }
    .commentChapter .container .row .col-md-12 .post .post-description .stats .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc; }
      .commentChapter .container .row .col-md-12 .post .post-description .stats .btn-default:hover {
        background-color: gainsboro; }

.commentChapter .container .addComments {
  color: white;
  background-color: #161F26;
  padding: 1.25rem 0;
  text-align: center; }
  .commentChapter .container .addComments h2 {
    margin-bottom: 1.5rem; }
  .commentChapter .container .addComments #comment_add {
    text-align: left; }
    .commentChapter .container .addComments #comment_add textarea {
      height: 150px; }

/*======================================
//--//-->   CONTACT
======================================*/
#sectionContact .textHeaderContact {
  text-align: center;
  margin-bottom: 2rem; }
  #sectionContact .textHeaderContact h2 {
    color: white; }
  #sectionContact .textHeaderContact p {
    color: white !important; }

#sectionContact .contact-mf #contact {
  position: inherit;
  margin-bottom: 3rem; }
  #sectionContact .contact-mf #contact form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden; }
    #sectionContact .contact-mf #contact form #sendmessage {
      color: #0070FF;
      border: 1px solid #0078ff;
      display: none;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact form #errormessage {
      color: #FF0000;
      display: none;
      border: 1px solid red;
      text-align: center;
      padding: 15px;
      margin-bottom: 15px; }
    #sectionContact .contact-mf #contact form #sendmessage.show {
      display: block; }
    #sectionContact .contact-mf #contact form #errormessage.show {
      display: block; }
    #sectionContact .contact-mf #contact form .show {
      display: block; }
    #sectionContact .contact-mf #contact form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #sectionContact .contact-mf #contact form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .icon-case-textarea {
          height: 134px;
          line-height: 130px; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group textarea {
          z-index: 0; }
        #sectionContact .contact-mf #contact form .inputGroupContainer .input-group .validation {
          color: #FF0000;
          display: none;
          margin: 0 0 20px;
          font-size: 13px; }
    #sectionContact .contact-mf #contact form .icon-send {
      margin-left: 10px; }

#register .textHeaderRegister {
  text-align: center;
  margin-bottom: 2rem; }
  #register .textHeaderRegister .section-title {
    color: white;
    margin-bottom: 15px; }
  #register .textHeaderRegister .section-subheading {
    color: white !important; }

#register #infobox-register {
  z-index: 0; }
  #register #infobox-register .infoRegisterContainer {
    border: 1px solid #0000004f;
    margin: 0 15px 1rem 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #register #infobox-register form {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background-color: #FFFFFF;
    overflow: hidden; }
    #register #infobox-register form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #register #infobox-register form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #register #infobox-register form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .label-register {
          font-size: 1.25rem;
          width: 100%; }

#forget .textHeaderForget {
  text-align: center;
  margin-bottom: 2rem; }
  #forget .textHeaderForget .section-title {
    color: white;
    margin-bottom: 15px; }
  #forget .textHeaderForget .section-subheading {
    color: white !important; }

#forget #infobox-forget {
  z-index: 0; }
  #forget #infobox-forget .infoForgetContainer {
    margin: 0 15px 1rem 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #forget #infobox-forget form {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background-color: #FFFFFF;
    overflow: hidden; }
    #forget #infobox-forget form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #forget #infobox-forget form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #forget #infobox-forget form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #forget #infobox-forget form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #forget #infobox-forget form .inputGroupContainer .input-group .label-register {
          font-size: 1.25rem;
          width: 20%;
          height: 42px;
          line-height: 40px;
          padding-left: 15px; }
    #forget #infobox-forget form #btn-forget {
      padding-right: 0; }

@media (max-width: 990px) {
  #forget #infobox-forget form .inputGroupContainer .input-group .label-register {
    width: 100%;
    padding-left: 0; }
  #forget #infobox-forget form #btn-forget {
    text-align: center !important;
    padding-left: 0; } }

#login .container .row .section-title {
  margin-bottom: 3.6rem;
  color: white; }

#login .container .row #infobox-login {
  background-color: lightgrey;
  padding: 2rem 0; }
  #login .container .row #infobox-login form .label-login {
    font-size: 1.25rem; }
  #login .container .row #infobox-login form #btn-login {
    margin-top: 2rem; }
    #login .container .row #infobox-login form #btn-login button {
      font-size: 1.25rem; }

footer {
  width: 100%;
  bottom: 0;
  border-bottom: 2px solid #EF951B;
  border-top: 2px solid #EF951B;
  background-color: #161F26;
  padding: 1rem 0 !important; }
  footer .containerSection #footer {
    line-height: 50px;
    height: 50px; }
    footer .containerSection #footer .socialContainer {
      margin-top: 0 !important;
      height: 100%; }
      footer .containerSection #footer .socialContainer .social li {
        padding: 3px 0; }
        footer .containerSection #footer .socialContainer .social li:hover a i {
          font-size: 30px;
          margin-top: -10px; }
        footer .containerSection #footer .socialContainer .social li a {
          color: #ffffff;
          text-decoration: none !important;
          background-color: transparent;
          -webkit-text-decoration-skip: objects; }
          footer .containerSection #footer .socialContainer .social li a:hover {
            color: #eeeeee; }
          footer .containerSection #footer .socialContainer .social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: 0.5s all ease;
            -moz-transition: 0.5s all ease;
            transition: 0.5s all ease; }
            footer .containerSection #footer .socialContainer .social li a i .d-md-inline-flex {
              margin-left: 10px; }
  footer .containerSection .separator {
    border: 1px solid lightgray;
    margin: 24px auto;
    opacity: 0.3;
    width: 30%;
    min-width: 150px; }
  footer .containerSection #copyright {
    color: white;
    padding: 0 15px; }
    footer .containerSection #copyright .copyrightContainer {
      width: 100%;
      display: flex;
      justify-content: center; }
