.main-panel {
    margin-bottom: 0 !important;
    .dashboard {
        .textHeaderDasboard {
            .text-container {
                .section-title {
                    margin-bottom: 2rem;
                }
            } 
        }
        .card {
            margin-bottom: 2rem;
            
            .card-header {
                .card-title {
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    color: #007bff;
                    &:hover {
                        color: #2B96CC;
                    }
                }
            }
    
           .card-body {
            .chart{
                vertical-align: middle;
                width: 100% !important;
                margin: 0 auto;
                position: relative;
                display: inline-block;
              }
             
              canvas{
                height: 100% !important;
              }
           }
        }
    }
}