header {
  background-color: #353c52 !important;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1;
  .navigation {
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    .navContainer {
      width: 100%;
      height: 100%;
      display: flex;
      .linkTitle {
        color: white;
        width: 100%;
        max-width: 435px;
        margin: 0 auto;
        height: 80px;
        .iconBook {
          width: auto;
          height: 100%;
          display: inline-flex;
          justify-content: inherit;
          align-items: center;
          align-content: inherit;
          .icon {
            display: block;
            max-width: 100%;
            height: 70px;
            width: auto;
          }
        }
        .titleContainer {
          float: right;
          justify-content: center;
          display: grid;
          height: 100%;
          margin-left: 15px;
          width: auto;
          .title {
            font-size: 1.75rem;
            font-family: 'Courgette', cursive;
            font-style: italic;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700;
          }
          .description {
            font-size: 0.9rem;
            line-height: inherit;
            white-space: nowrap;
            font-weight: 700;
            font-family: 'Courgette', cursive;
            font-style: italic;
          }
        }
      }     
    }
  }
}

@media(max-width:834px) {
  header {
    height: 100px;
    .navigation {
      .navContainer {
        .linkTitle {
          max-width: 400px;
          height: 70px;
          margin: 0;
          .iconBook {
            .icon {
              height: 50px;
            }
          }
          .titleContainer {
            .title {
              font-size: 1.75rem;
            }
            .description {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width:500px) {
  header {
    .navigation {
      .navContainer {
        .linkTitle {
          width: auto;
          .iconBook {
            display: none;
          }
          .titleContainer {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media(max-width:380px) {
  header {
    .navigation {
      .navContainer {
        .linkTitle {
          .titleContainer {
            .title {
              font-size: 1.3rem;
            }
            .description {
              font-size: 0.65rem;
            }
          }
        }
      }
    }
  }
}