header {
    .navigation {
      .navContainer {
        .sidebarContainer {
            display: none;
        }
      }
    }
  }
  
  @media(max-width:834px) {
    header {
      .navigation {
        .navContainer {
            .sidebarContainer {
                display: inline-grid;
                align-items: center;
                position: absolute;
                right: 15px;
                height: 70px;
                button {
                    font-size: 1.75rem;
                    background-color: transparent !important;
                }
            }
        }
      }
    }
  }