header .navigation .navContainer .navbarLeft {
  display: flex;
  width: auto;
  height: 30px;
  position: absolute;
  left: 0;
  top: 100px;
  line-height: 15px; }
  header .navigation .navContainer .navbarLeft .navbarLeftNavigation {
    display: flex;
    padding-left: 15px;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    header .navigation .navContainer .navbarLeft .navbarLeftNavigation a {
      color: white; }

@media (max-width: 834px) {
  header .navigation .navContainer .navbarLeft {
    display: none; } }
