header .navigation .navContainer .btnSidebarOpen {
  display: none; }

header .navigation .navContainer .sidebar {
  display: none; }

@media (max-width: 834px) {
  header .navigation .navContainer .btnSidebarOpen {
    display: inline-grid;
    align-items: center;
    position: absolute;
    right: 15px;
    height: 70px; }
    header .navigation .navContainer .btnSidebarOpen button {
      font-size: 1.75rem;
      background-color: transparent !important; }
  header .navigation .navContainer .overlay.active {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    opacity: 1;
    background: -webkit-linear-gradient(top, rgba(108, 118, 148, 0.98), rgba(53, 60, 82, 0.98));
    z-index: 2;
    transition: opacity .5s;
    cursor: pointer; }
  header .navigation .navContainer .sidebar {
    display: block; }
    header .navigation .navContainer .sidebar .sidebarOpen {
      width: 400px;
      height: 100%;
      top: 0;
      right: -400px;
      position: fixed;
      z-index: 2;
      transition: right .3s; }
      header .navigation .navContainer .sidebar .sidebarOpen.active {
        right: 0; }
      header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu {
        width: auto;
        height: 100%;
        background-color: white;
        z-index: 1; }
        header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu #menuBurgerClose {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          padding: 0;
          background: none;
          border: none;
          color: #c8cbd3; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu #menuBurgerClose i {
            font-size: 24px; }
        header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer {
          width: 100%;
          height: 100%; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer {
            padding: 40px 20px;
            height: 217px;
            background-color: #353c52; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected {
              width: auto;
              height: 150px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo {
                padding: 10px 0px;
                display: flex; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarUserCardImg {
                  position: absolute;
                  width: 50px;
                  height: 50px; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarUserCardImg img {
                    border-radius: 50%;
                    width: 100%; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser {
                  width: 100%;
                  height: auto;
                  padding: 0;
                  list-style: none;
                  margin-left: 50px; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser {
                    left: 10px;
                    position: relative;
                    text-transform: none; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser .username {
                      font-size: 18px;
                      color: #c8cbd3; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .sidebarUserInfo .sidebarMenuUser .sidebarItemUser .address {
                      font-size: 13px;
                      color: #5c6f84; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer {
                display: flex;
                margin-bottom: 1rem; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .separator {
                  border: 1px solid lightgrey; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnProfile, header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnSettings {
                  width: 50%;
                  background: none;
                  border: none;
                  color: #c8cbd3;
                  cursor: pointer; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnProfile:hover, header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnSidebarProfileContainer .btnSettings:hover {
                    color: #f4f6fa; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer {
                width: 100%;
                position: absolute;
                left: 0;
                background-color: #5c6f84;
                height: 50px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer:hover {
                  background-color: #555D70; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarProfileContainer .sidebarConnected .btnLogOutContainer .btnLogOut {
                  border: none;
                  background: none;
                  color: white;
                  cursor: pointer; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer {
            background-color: #353c52; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .sidebarNotConnected {
              padding: 60px 20px 20px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .sidebarNotConnected .inputGroupContainer {
                text-transform: none !important;
                color: white; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer {
              background-color: #5c6f84;
              height: 50px;
              display: flex;
              justify-content: center; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer:hover {
                background-color: #555D70; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnLoginContainer .btnLogin {
                border: none;
                background: none;
                color: white;
                cursor: pointer; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer {
              height: 50px;
              display: flex;
              justify-content: center;
              font-size: 13px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer a {
                color: #c8cbd3;
                text-align: center;
                text-transform: none !important;
                margin: auto 0;
                cursor: pointer; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarLoginContainer .btnRegisterContainer a:hover {
                  color: white; }
          header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent {
            height: 100%; }
            header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer {
              margin-top: 20px;
              height: 100%;
              padding: 10px 20px; }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu {
                width: 100%;
                height: auto; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu button {
                  justify-content: left;
                  width: 100%;
                  height: auto;
                  font-size: 18px;
                  border-radius: 0px;
                  background: none;
                  border: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: #353c52;
                  cursor: pointer; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu button #iconChevron {
                    transform: rotate(0deg); }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer .btnDropdownMenu button #iconChevron.active {
                      transform: rotate(90deg); }
              header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu {
                width: 100%;
                height: 100%;
                padding: 10px 15px 10px 33px;
                display: block; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu.active {
                  display: none; }
                header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu .menuItem {
                  justify-content: inherit;
                  align-items: center;
                  align-content: center;
                  height: 35px;
                  width: 100%;
                  display: inline-flex; }
                  header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu .menuItem .menuLink {
                    display: flex;
                    text-decoration: none;
                    color: #5c6f84; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu .menuItem .menuLink:hover {
                      color: #353c52; }
                    header .navigation .navContainer .sidebar .sidebarOpen .sidebarMenu .sidebarContainer .sidebarContent .sidebarContentContainer .sidebarMenuContainer #sidebarDropdownMenu .menuItem .menuLink .name {
                      font-size: 16px;
                      line-height: 1.23;
                      margin-left: 15px;
                      text-transform: none !important; } }

@media (max-width: 414px) {
  header .navigation .navContainer .sidebar .sidebarOpen {
    width: 100%; } }
