main {
    .update-comments {
        .container {
            height: 100%;
            #comment_post {
                height: 100%;
                justify-content: center;
                .textHeaderComment {
                    .section-title {
                        line-height: 1;
                    }
                }
        
                #btnUpdateComment {
                    padding: .4rem .6rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
