#updatePassword { 
    .text-header-update-password {       
        text-align: center;        
        margin-bottom: 2rem;

        .section-title {
            position: relative;
            margin-bottom: 45px;
            display: inline-block;
            font-weight: 600;
            color: black;
            line-height: 1;
        }

        .section-subheading {
            color: black !important;
        }
    }  

    #infobox-update-password {
        z-index: 0;
        max-width: 75%;
        margin: 0 auto;

        form {
            border-radius: 5px;
            max-width:100%;
            width:90%;
            margin: 0 auto;
            background-color: #FFFFFF;
            overflow: hidden;
            .inputGroupContainer {
                padding-right: 0;
                padding-left: 0;
                width: 100%;
                .input-group {
                    position: relative;
                    display: flex;
                    border-collapse: separate;
                    width: 100%;
                    margin-bottom: 1rem;
                    input {
                        height: 42px;
                        z-index: 0;
                    }
        
                    .icon-case {
                        width: 35px;
                        float: left;
                        border-radius: 5px 0px 0px 5px;
                        background:#eeeeee;
                        height:42px;
                        position: relative;
                        text-align: center;
                        line-height:40px;
                        border: 1px solid#ccc;
                        border-right: 0;
                    }  

                    .label-register {
                        font-size: 1.25rem;
                        width: 100%;
                    } 
                }
            } 

            #btn-password {
                .btn-update-password {
                    margin-right: 10px;
                }
                .btn-cancel {
                    padding: .3rem .6rem;
                }
            }
        }
    }
}

@media(max-width: 766px) {
    #updatePassword { 
        #infobox-update-password {
            max-width: 100%;
        }
    }
}        


@media(max-width: 414px) {
    #updatePassword { 
        #infobox-update-password {
            max-width: 100%;
            form {
                width: 100%;
                margin: 0;
            }
        }
    }
}        

@media(max-width:374px) {
    #updatePassword {
        #infobox-update-password {
            #btn-password {
                text-align: center;
                .btn-cancel {
                    margin-top: 10px;
                }
            }
        }
    }
  }