.profile {
  display: flex; }
  .profile .main-panel {
    width: 100%;
    margin-bottom: 2rem;
    z-index: -1; }
    .profile .main-panel .block-edit #btn-profile button {
      padding: .6rem 1.3rem; }
    .profile .main-panel .block-user .card-user .card-image {
      margin: auto;
      margin-top: 2rem; }
      .profile .main-panel .block-user .card-user .card-image img {
        width: 150px;
        border-radius: 50%;
        height: 150px; }
    .profile .main-panel .block-user .card-user .card-body {
      padding: 0; }
      .profile .main-panel .block-user .card-user .card-body .author {
        text-align: center;
        padding: 1.25rem; }
        .profile .main-panel .block-user .card-user .card-body .author .title {
          font-size: 1.5rem; }
        .profile .main-panel .block-user .card-user .card-body .author .username {
          font-size: 13px;
          color: #5c6f84; }
        .profile .main-panel .block-user .card-user .card-body .author .address-container {
          color: #5c6f84;
          display: flex;
          justify-content: center;
          align-content: center; }
          .profile .main-panel .block-user .card-user .card-body .author .address-container i {
            font-size: 20px;
            margin-right: 10px; }
          .profile .main-panel .block-user .card-user .card-body .author .address-container .address {
            font-size: 13px;
            margin-bottom: 0; }
      .profile .main-panel .block-user .card-user .card-body .box {
        display: flex;
        flex-wrap: wrap; }
        .profile .main-panel .block-user .card-user .card-body .box .box-container {
          border-bottom: 1px solid #c8cbd3;
          padding: 12px 1.25rem;
          width: 100%; }
          .profile .main-panel .block-user .card-user .card-body .box .box-container:first-child {
            border-top: 1px solid #c8cbd3; }
          .profile .main-panel .block-user .card-user .card-body .box .box-container span {
            margin-left: 15px; }
          .profile .main-panel .block-user .card-user .card-body .box .box-container i {
            width: 16px; }
      .profile .main-panel .block-user .card-user .card-body .social-reseau {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.03);
        height: 50px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center; }
        .profile .main-panel .block-user .card-user .card-body .social-reseau .social {
          width: 100%;
          justify-content: space-between;
          display: flex;
          padding: 0 20px;
          height: 100%;
          margin: 0; }
          .profile .main-panel .block-user .card-user .card-body .social-reseau .social .list-inline-item {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center; }
            .profile .main-panel .block-user .card-user .card-body .social-reseau .social .list-inline-item a {
              color: black; }

@media (max-width: 1280px) {
  .profile .content {
    max-width: 500px;
    margin: auto; }
    .profile .content .block-edit {
      margin-top: 2rem;
      right: auto !important; }
      .profile .content .block-edit .item-container {
        max-width: 100%;
        flex: 0 0 100%; } }

@media (min-width: 1281px) and (max-width: 1499px) {
  .profile .content .block-edit {
    right: 33.5%; }
  .profile .content .block-user {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    left: 66.5%; } }

@media (min-width: 1500px) {
  .profile .content .block-edit {
    right: 26%; }
  .profile .content .block-user {
    -ms-flex: 0 0 26%;
    flex: 0 0 26%;
    max-width: 26%;
    left: 74%; } }
