.addChapters .textHeaderAddChapter {
  text-align: center;
  margin-bottom: 2rem; }
  .addChapters .textHeaderAddChapter .section-title {
    color: black;
    margin-bottom: 15px; }

.addChapters #infobox-add-chapter {
  z-index: 0; }
  .addChapters #infobox-add-chapter .boxContainer {
    padding: 3rem 3.25rem; }
    .addChapters #infobox-add-chapter .boxContainer #imageCard {
      width: 100%; }
    .addChapters #infobox-add-chapter .boxContainer #btnAdd {
      padding: .4rem 1.5rem;
      margin-right: 15px; }
    .addChapters #infobox-add-chapter .boxContainer #btnCancel {
      padding: .4rem 1.5rem; }
      .addChapters #infobox-add-chapter .boxContainer #btnCancel:hover {
        transition: all 500ms ease;
        box-shadow: 0 0 0 4px #f9f9f9; }

.mce-notification.mce-in, #mceu_14, #mceu_15 {
  display: none; }

#mceu_2-body {
  display: flex; }
  #mceu_2-body #mceu_3 {
    border: none; }

@media (max-width: 414px) {
  .addChapters #infobox-add-chapter .boxContainer {
    padding: 3rem 1.25rem; } }
