main {
    .update-comment {
        flex: 1;
        display: flex;
        #comment_post {
            height: 100%;
            justify-content: center;
            #btnUpdateComment {
                padding: .4rem 1.5rem;
            }
        }
    }
}