@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
footer {
  width: 100%;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem 0 !important;

  .containerSection {
    #footer {
      line-height: 50px;
      height: 50px;
      .socialContainer {
        margin-top: 0 !important;
        height: 100%;
        .social {
          li {
            padding: 3px 0;
  
            &:hover {
              a i {
                font-size: 30px;
                margin-top: -10px;
              }
            }
  
            a {
              color: black;
              text-decoration: none !important;
              background-color: transparent;
              -webkit-text-decoration-skip: objects;
  
              &:hover {
                color: black;
              }
  
              i {
                margin-right: 5px;
                font-size: 25px;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                transition: 0.5s all ease;
  
                .d-md-inline-flex {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  
    .separator {
      border: 1px solid lightgray;
      margin: 24px auto;
      opacity: 0.3;
      width: 30%;
      min-width: 150px;
    }
    #copyright {
      color: black;
      padding: 0 15px;
      .copyrightContainer {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
