/* CSS CORPS DE PAGE */
html {
    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
		background-color: #f5f5f5;
        .layout {
            min-height: 100vh;
            flex-direction: column;
            display: flex;
            main {
				padding-top: 9.3rem;
				display: grid;
				flex-grow: 1;
				.alert {
					height: 50px;
				}
				
				.alert-success {
					z-index: 1;
				}
                section {
					padding: 0;
					display: flex;
					flex: 1;

					.main-panel {
						width: 100%;
						margin-bottom: 2rem;
					}

					.section-content {
						padding: 2rem 0;
						width: 100%;
					}
                }
            }
        } 
    }
}
@media(max-width:834px) {
    html {
        body {
            .layout {
                main {
                    padding-top: 6.3rem;
                }
            }         
        }
    }
}

/*======================================
//--//-->   STYLES GENERALES
======================================*/

h1, h2, h3, h4, h5, h6 {
	color: #1e1e1e;
}

.paralax-mf {
	position: relative;
	padding: 8rem 0;
}

/*--/ Sections /--*/
.sect-mt4 {
	margin-top: 4rem;
}

/*--/ Title Left /--*/
.title-box-2 {
	margin-bottom: 3rem;
}
.title-left {
    font-size: 2rem;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		height: 3px;
		background-color: #0070FF;
		width: 100px;
		bottom: -12px;
	}
}

/*------/ Box /------*/
.box-shadow-full {
	padding: 3rem 1.25rem;
	position: relative;
	background-color: #fff;
	margin-bottom: 3rem;
	z-index: 2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


/*------/ Ul resect /------*/
.list-ico {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	span {
		color: #0070FF;
		margin-right: 10px;
	}
}

/*======================================
//--//-->   BUTTON
======================================*/
.button {
	display: inline-block;
	padding: .3rem .6rem;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1rem;
	border-radius: .3rem;
	border: 1px solid transparent;
	transition: all 500ms ease;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
	&:hover {
		background-color: #0062d3;
		color: #fff;
		transition: all 500ms ease;
		box-shadow: 0 0 0 4px #cde1f8;
	}
}
.button-a {
	background-color: #0070FF;
	color: #fff;
	border-color: #CDE1F5;
}
.button-big {
	padding: .9rem 2.3rem;
    font-size: 1.2rem;
}
.button-rouded {
	border-radius: 5rem;
}