/* CSS CORPS DE PAGE */
html {
    height: 100%;
    body {
        height: 100%;
        main {
            padding-top: 8.5rem;
            section {
                padding: 2rem 0;
                min-height: calc(45rem + 10px);
                background-color: #161F26;
            }
        }
    }
}
@media(max-width:1160px) {
    html {
        body {
            main {
                padding-top: 5rem;
                section {
                    min-height: calc(48rem + 11px);
                }
            }
        }
    }
}
@media(max-width:855px) {
    html {
        body {
            main {
                padding-top: 7.5rem;
            }
        }
    }
}
@media(max-width:500px) {
    html {
        body {
            main {
                padding-top: 5.9rem;
            }
        }
    }
}
