// Styling for the navbar
header {
  #mainNav {
    font-weight: 700;
    font-family: 'Montserrat';
    position: fixed;
    z-index: 10;
    background-color: #161F26 !important;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0;
    border-bottom: 2px solid #EF951B;
    border-top: 2px solid #EF951B;
    color: white;
    
    .navContainer {
      margin: auto 15px;
      width: 100%;
      vertical-align: baseline;
          
      .navbar-brand {
        color: white;
        vertical-align: -moz-middle-with-baseline;
        
        .icone_book {
          width: 80px;
          height: 50px;
          vertical-align: bottom;
          margin-right: 15px;
        }
      
        .name_title {
          font-family:'Courgette', cursive; 
          font-style: italic; 
          font-size: 1.75rem;
          color: white;
          vertical-align: top;
        }

        .content_title {
          vertical-align: super;
        }

        br {
          display: none;
        }
      }
      
      .navbar-nav {
        letter-spacing: 0.0625rem;
        
        li.nav-item {
          a.nav-link {
            color: white;
            font-size: 1rem;
            &:hover {
              color: #18BC9C;
            }
            &:active,
            &:focus {
              color: white;
            }
            &.active {
              color: #18BC9C;
            }
          }
        }
      }
      .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem;
        position: absolute;
        right: 30px;
        margin: 16px auto;
      }
    }
  }
}
@media(min-width:1160px) {
  header {
    #mainNav {
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;

      .navContainer {
        .navbar-brand {
          -webkit-transition: font-size 0.3s;
          -moz-transition: font-size 0.3s;
          transition: font-size 0.3s;
        }

        .navbar-nav > li.nav-item > a.nav-link.active {
          color: white;
          background: #18BC9C;
          &:active,
          &:focus,
          &:hover {
            color: white;
            background: #18BC9C;
          }
        }

        #btn-menu {
          display: none;
        }
        
        #navbarResponsive {
          display: -ms-flexbox !important;
          display: flex !important;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
          #navbarDeroulant {
            -ms-flex-direction: row;
            flex-direction: row;
            .nav-item {
              .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width:855px) {
  header {
    #mainNav { 
      .navContainer {      
        .navbar-brand {       
          br {
            display: block;
            line-height: 5px;
          }
        }
        #btn-menu {
          margin: 37px auto;
        }
      }
    }
  }
}

@media(max-width:500px) {
  header {
    #mainNav {
      .navContainer {
        .navbar-brand {
          .icone_book {
            display: none;
          }
          .name_title {
            font-size: 1.15rem;
          }
    
          .content_title {
            font-size: 0.65rem;
          }
        }
        #btn-menu {
          margin: 23px auto;
        }
      }
    }
  }
}

@media(max-width:240px) {
  header {
    #mainNav {
      .navContainer {
        margin: 0;
        .navbar-brand {
          .icone_book {
            display: none;
          }
          .name_title {
            font-size: 1rem;
          }
    
          .content_title {
            font-size: 0.55rem;
          }
        }
        #btn-menu {
          right: 15px;
          margin: 23px auto;
        }
      }
    }
  }
}