#register .textHeaderRegister {
  text-align: center;
  margin-bottom: 2rem; }
  #register .textHeaderRegister .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #register .textHeaderRegister .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #register .textHeaderRegister .section-subheading {
    color: black !important; }

#register #infobox-register {
  z-index: 0;
  max-width: 75%;
  margin: 0 auto; }
  #register #infobox-register .infoRegisterContainer {
    border: 1px solid #0000004f;
    margin: 0 15px 1rem 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #register #infobox-register form {
    border-radius: 5px;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden; }
    #register #infobox-register form .inputGroupContainer {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
      #register #infobox-register form .inputGroupContainer .input-group {
        position: relative;
        display: flex;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 1rem; }
        #register #infobox-register form .inputGroupContainer .input-group input {
          height: 42px;
          z-index: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background: #eeeeee;
          height: 42px;
          position: relative;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          border-right: 0; }
        #register #infobox-register form .inputGroupContainer .input-group .label-register {
          font-size: 1.25rem;
          width: 100%; }
    #register #infobox-register form #btn-register button {
      padding: .6rem 2.3rem; }
