#allChapters .textHeaderChapters {
  text-align: center;
  margin-bottom: 2rem; }
  #allChapters .textHeaderChapters .section-title {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    color: black;
    line-height: 1; }
  #allChapters .textHeaderChapters .section-title::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bff;
    bottom: -25px;
    margin-left: -30px; }
  #allChapters .textHeaderChapters p {
    color: black !important; }

#allChapters article {
  margin-bottom: 5rem;
  text-align: justify; }
  #allChapters article .blog-wrapper {
    background: #fff;
    overflow: hidden;
    padding: 20px; }
    #allChapters article .blog-wrapper h2 {
      color: #007bff; }
      #allChapters article .blog-wrapper h2:focus, #allChapters article .blog-wrapper h2:hover {
        color: #2B96CC;
        text-decoration: none; }
    #allChapters article .blog-wrapper .blog-thumb {
      margin-bottom: 20px; }
      #allChapters article .blog-wrapper .blog-thumb img {
        width: 100%; }
    #allChapters article .blog-wrapper .blog-content.home-blog p {
      margin-bottom: 10px; }
    #allChapters article .blog-wrapper .link-box.home-blog-link a {
      font-size: 14px; }
    #allChapters article .blog-wrapper .link-box a {
      color: white;
      font-weight: 600; }
  #allChapters article .home-blog-wrapper {
    transition: .3s; }
  #allChapters article .blog-wrapper.home-blog-wrapper:hover {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.12); }

#allChapters aside .card-header {
  text-align: center;
  color: #007bff; }
  #allChapters aside .card-header:hover {
    color: #2B96CC;
    transition: 0.4s; }

#allChapters aside .list-group {
  padding: 0.75rem 1.25rem; }
  #allChapters aside .list-group .list-group-about-container {
    text-align: justify;
    margin-bottom: 1rem; }
  #allChapters aside .list-group .list-group-container {
    text-align: justify;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ddd; }
    #allChapters aside .list-group .list-group-container a {
      color: black; }
      #allChapters aside .list-group .list-group-container a:hover {
        text-decoration: none; }
      #allChapters aside .list-group .list-group-container a .list-group-item-heading {
        text-align: center; }
        #allChapters aside .list-group .list-group-container a .list-group-item-heading:hover {
          color: #2B96CC;
          transition: 0.4s; }
