.textHeaderAbout {       
    text-align: center;        
    margin-bottom: 2rem;

    .section-title {
        position: relative;
        margin-bottom: 45px;
        display: inline-block;
        font-weight: 600;
        color: black;
        line-height: 1;
    }

    .section-title::before {
        content: "";
        position: absolute;
        left: 50%;
        width: 60px;
        height: 2px;
        background: #007bff;
        bottom: -25px;
        margin-left: -30px;
    }

    p {
        color: black !important;
    }
}  
.about-mf {
    #about {
        position: inherit;
        margin-bottom: 2rem;
        .blockText {
            text-align: justify;
        }

        .blockImg {
            padding: 0 25px 0 0;
            .item {
                position: relative;
                margin: 0 0 30px;
                .item-meta {
                    width: 100%;
                    border-top: 1px solid #363636;
                    border-collapse: separate;
                    border-spacing: 0;
                    margin-top: 15px;
                    th, td {
                        font-size: 11px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-weight: 300;
                        text-align: left;
                        padding: 13px 15px;
                        border-bottom: 1px solid #363636;
                        border-left: 1px solid #363636;
                        width: 50%;
                    }

                    td {
                        font-weight: 400;
                        border-right: 1px solid #363636;
                    }
                }
            }
        }
    }     
}

@media(min-width: 834px) {
    .about-mf {
        #about {
            .blockText {
                right: 33.33333333%;
                width: 66.66666667%;
                float: left;
            }

            .blockImg {
                width: 33.33333333%;
                left: 66.66666667%;
                float: left;
            }
        }
    }
}

@media(max-width: 833px) {
    .about-mf {
        #about {
            padding: 3rem 1.25rem 1.5rem 1.25rem;
            .blockText {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .blockImg {
                padding: 0 15px;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
